section {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: red;
}
h2 {
  color: blue;
}
